// VARIABLES SECTION---------------
// Colors
    $a: #222831;
    $b: #393E46;
    $c: #00ADB5;
    $d: #00FFF5;
// ---------------------------------
body{
    background-color:$b;
    color: $d;
    font-family: 'Graduate', cursive;
    padding-top:70px;
}
.form-control{
    background-color:#FAFAFA;
}
.navbar-default{
    background-color:$a;
    color:$d;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    border:none;
    .navbar-toggle{
        color:$d;
        .icon-bar{
            background-color:$d;
        }
    }
    .navbar-brand{
        color:$d;
        font-family: 'UnifrakturMaguntia', cursive;
        font-size: 3rem;

    }
    .navbar-nav{
        li{
            color:$d;
            a{
                color:$d;
                
            }
        }
            .active{
                a{
                     color:$a;
                     background-color:#FAFAFA;
                &:hover{
                    color:$a;
                    background-color:#FAFAFA;
                }
                }
               
            }
    }
}
.flex-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    .player-info{
        width:45%;
        .thumbnail-image-container{
            height: 50%;
            width:50%;
            overflow:hidden;
            border-radius:50%;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
            border:4px solid $d;

            img{
                width:100%;
            }
        }
    }
}
.btn-primary{
    background-color: $d;
    color:$a;
}
.form-group{}
.form-inline{
    
}
.panel{
    color:$d;
    background-color:$a;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    border:none;
    border-radius:0;


    .panel-heading{
        background-color:$a;
        color:$d;
        border-radius:0;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    }
}
.player-panel{
    background-color:$a;
}




  .navbar-transparent{
        background-color:transparent;
        color:black;
        box-shadow: none;
        .navbar-brand{
            color:#FAFAFA;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.5)
        }
    }
.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
    width:100%;
    background-color:$b;
    background-image:url('https://hd.unsplash.com/photo-1464983308776-3c7215084895');
    background-size: cover;
  
    .form-container{
        width:33.3333%;
        margin:2%;
        input{
            font-family: sans-serif;
        }
    }
}


// http://colorhunt.co/c/38962